@media (--med) {
  a {
    &:hover {
      color: color-mod(black alpha(54%));
    }
  }
}

.form__main {
  background: gray;
  border: 1px solid black;
  height: 100%;
  max-width: 400px;
  padding: 3rem;
  width: 100%;
}

.form__main-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 80%;
}

.form__main-group--input {
  margin: .5rem auto;
}

.active {
  display: block;
}
